name: CI

run-name: "CI ${{ github.ref_type }} ${{ github.ref_name }}: '${{ github.event.head_commit.message }}'"

"on": [push]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7.1.1
        with:
          version: "0.9.4"
          enable-cache: true
      - name: Install node
        run: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm install'
      - name: Run tests
        env:
          TERM: dumb
        run: make ci
