name: CI

run-name: "CI ${{ github.ref_type }} ${{ github.ref_name }}: '${{ github.event.head_commit.message }}'"

"on": [push]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          version: "0.9.4"
          enable-cache: true
      - name: Install node
        run: bash -c 'source "${NVM_DIR}/nvm.sh" && nvm install'
      - name: Run tests
        env:
          TERM: dumb
        run: make ci
